@import "variable.less";
// 头部
.header-top {
  justify-content: center;
  width: 100%;
  height: 70px;
  background: #242424;
  border: 1px solid #000;

  nav {
    display: flex;

    a {
      position: relative;
      padding: 25px 19px;
      color: #ccc;
    }

    h1 {
      width: 177px;
      cursor: pointer;
    }

    .hot {
      position: absolute;
      top: 21px;
      left: 100px;
      width: 35px;
      height: 19px;
      background-position: -190px 0;
    }
  }

  .header-right {
    margin-left: 85px;

    span {
      width: 158px;
      background-color: #fff;
      border-radius: 32px;

      em {
        width: 30px;
        height: 32px;
        background-position: 0 -99px;
      }

      input {
        width: 121px;
        color: #9b9b9b;
        border: 0;
      }
    }

    a {
      width: 90px;
      height: 32px;
      margin-left: 12px;
      color: #ccc;
      text-align: center;
      line-height: 32px;
      border: 1px solid #4f4f4f;
      border-radius: 20px;

      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }

  button {
    margin-left: 20px;
    background: none;
    border: 0;
    color: #787878;

    &:hover {
      color: #ccc;
      text-decoration: underline;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom {
  width: 100%;
  height: 35px;
  background-color: #c20c0c;
  border-bottom: 1px solid #a40011;

  .bottom-nav {
    margin-left: 585px;
  }

  a {
    .flex();

    float: left;
    width: 84px;
    height: 34px;
    color: #fff;
  }
}

.second-content {
  width: 100%;
  height: 5px;
  background-color: #c20c0c;
}
// 轮播图
.filter {
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  height: 284px;
  background-size: 6000px;
  filter: blur(80px);
  background-position: center center;
}

.carousel-main {
  position: absolute;
  top: 105px;
  left: 461px;
  width: 982px;
  height: 285px;

  .slider {
    position: absolute;
    width: 730px;
    height: 284px;
    overflow: hidden;

    ul {
      // 需要添加定位，才能使用element.style.left
      position: absolute;
      top: 0;
      left: 0;
      width: 500%;
    }

    ul li {
      float: left;

      img {
        width: 730px;
        height: 284px;
      }
    }
  }

  .arrow .arr {
    position: absolute;
    width: 37px;
    height: 64px;
    top: 50%;
    margin-top: -31px;
    font-size: 35px;
    text-align: center;
    line-height: 64px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .arrow .arrow-left {
    left: -68px;
  }

  .arrow .arrow-right {
    right: -68px;
  }
  // 小圆圈
  .circle {
    position: absolute;
    bottom: 10px;
    left: 35%;

    li {
      float: left;
      width: 7px;
      height: 7px;
      margin: 0 10px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      cursor: pointer;
    }

    .current {
      background-color: #ba0c0c;
    }
  }
}

// 下载客户端
.upload {
  position: absolute;
  right: 0;
  width: 252px;
  height: 284px;
  background: url(../img/download.png) no-repeat;

  a {
    display: block;
    width: 215px;
    height: 56px;
    margin: 186px 0 0 19px;
  }

  p {
    margin: 10px auto;
    color: #8d8d8d;
    text-align: center;
  }
}

// 首页内容
.main {
  width: 983px;
  height: 1425px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 0;
  border: 1px solid #ccc;

  .main-left {
    float: left;
    width: 731px;
    height: 100%;
    padding: 20px 20px 3px;
    border-right: 1px solid #d3d3d3;

    .recommend {
      width: 100%;
      height: 35px;
      border-bottom: 2px solid #c10d0c;
      background-position: -225px -156px;

      .rec-nav a {
        height: 14px;
        padding: 0 10px;
        border-right: 1px solid #ccc;
      }

      .rec-a {
        padding: 0 10px 0 34px;
        font-size: 20px;
        color: #333;
      }

      .rec-a,
      .rec-nav .rec-span-a {
        border-right: 0;
      }

      .rec-more {
        float: right;
        width: 40px;
        height: 16px;
        margin: 9px 10px 0 0;
        background-position: 28px -236px;
      }
    }

    .record {
      height: 420px;
      margin-top: 20px;
      margin-bottom: 90px;

      .record-img {
        .flex-wrap();

        height: 100%;
        justify-content: space-between;

        span {
          position: relative;
          width: 140px;

          p,
          a {
            cursor: pointer;
          }

          img,
          a,
          em {
            background: url(../img/coverall.png) no-repeat;
          }

          img {
            height: 140px;
            margin-bottom: 5px;
          }

          p {
            color: #000;
            font-size: 14px;

            &:hover {
              text-decoration: underline;
            }
          }

          i,
          li {
            background: url(../img/iconall.png) no-repeat;
          }

          a,
          em,
          i,
          li {
            position: absolute;
            width: 100%;
            background-position: 0 0;
          }

          li {
            top: 118px;
            right: 10px;
            width: 16px;
            height: 17px;
          }

          a {
            top: 0;
            height: 140px;
          }

          em {
            top: 113px;
            height: 27px;
            background-position: 0 -537px;
          }

          i {
            top: 121px;
            left: 10px;
            width: 14px;
            height: 11px;
            background-position: 0 -24px;
          }
        }
      }
    }

    .new-record,
    .list {
      width: 689px;
      margin: 20px 0 37px;
      background-color: #f5f5f5;
      border: 1px solid #d3d3d3;
    }

    // 新碟上架
    .new-record {
      height: 190px;

      .new-record-roll {
        position: relative;
        width: 645px;
        height: 180px;
        margin: 0 auto;
        padding-top: 28px;
        background-color: pink;

        ul {
          position: absolute;
          width: 645px;
          height: 150px;
        }

        .u2,
        .u3 {
          left: 645px;
        }

        .u1 {
          left: 0;
          background-color: plum;
        }

        .u1-hidden {
          display: none;
        }

        .u2 {
          background-color: rebeccapurple;
        }

        .u3 {
          background-color: plum;
        }

        .u4 {
          left: -645px;
          background-color: rebeccapurple;
        }

        .arrow-left,
        .arrow-right {
          position: absolute;
          top: 40%;
          cursor: pointer;
        }

        .arrow-left {
          left: 5px;
        }

        .arrow-right {
          right: 5px;
        }
      }
    }

    .list {
      height: 472px;
    }
  }

  .main-right {
    float: left;

    .uer-login {
      width: 250px;
      height: 126px;
      padding: 16px 22px;

      p {
        line-height: 22px;
      }

      .user-login-btn {
        width: 100px;
        height: 31px;
        margin: 16px auto;
        background-position: 0 -195px;
        color: #fff;
        text-align: center;
        line-height: 31px;
      }
    }

    .singer {
      width: 210px;
      height: 24px;
      margin: 17px auto 20px;
      border-bottom: 1px solid #ccc;

      .singer-left {
        color: #333;
        font-weight: 700;
      }

      .singer-right {
        float: right;
      }
    }

    .singer-anchor,
    .singer-content {
      .flex-wrap();

      width: 210px;
      height: 250px;
      margin: 0 auto 30px;

      a {
        height: 50px;

        img {
          float: left;
          width: 40px;
          height: 40px;
        }

        div {
          float: left;
          width: 162px;
          padding-left: 14px;

          span {
            color: #000;
          }

          p {
            .font-hide();

            margin-bottom: 5px;
          }
        }
      }
    }

    .singer-content {
      height: 410px;

      a {
        width: 100%;
        height: 62px;
        background-color: #fafafa;

        img {
          width: 62px;
          height: 62px;
        }

        div {
          width: 146px;
          padding-top: 8px;

          span {
            font-weight: 700;
            font-size: 14px;
            color: #333;
          }

          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
// 尾部
footer {
  justify-content: center;
  height: 173px;
  background-color: #f2f2f2;
  font-size: 12px;
  border-top: 1px solid #d3d3d3;

  .nav-first {
    padding-left: 0;
  }

  a {
    color: #999;
    padding: 0 10px;
    border-right: 1px solid #999;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 520px;
    height: 115px;
    // color: #666;
  }

  img {
    width: 14px;
    height: 14px;
  }

  span {
    display: inline-block;
    width: 50px;
    height: 70px;
    background-size: 110px 552px;
  }

  .footer-right {
    display: flex;
    justify-content: space-between;
    width: 420px;
    height: 70px;
    margin-left: 50px;

    a {
      display: block;
      width: 50px;
      height: 46px;
      background: url(../img/footer.png) no-repeat;
      background-size: 110px 552px;
      border: 0;
    }

    .footer-pic1 {
      background-position: -63px -456.5px;
    }

    .footer-pic2 {
      background-color: -63px -101px;
    }

    .footer-pic3 {
      background-position: 0 0;
    }

    .footer-pic4 {
      background-position: -60px -50px;
    }

    .footer-pic5 {
      background-position: 0 -101px;
    }

    em {
      display: block;
      width: 72px;
      height: 14px;
      margin-top: 5px;
      background: url(../img/foot_enter_tt.png) no-repeat;
      background-size: 180px 139px;
    }

    .footer-font1 {
      background-position: 0 -108px;
    }

    .footer-font2 {
      background-size: 180px 139px;
    }

    .footer-font3 {
      background-position: 0 0;
    }

    .footer-font4 {
      background-position: -1px -72px;
    }
  }
}
