// 头部
.header-top {
  justify-content: center;
  width: 100%;
  height: 70px;
  background: #242424;
  border: 1px solid #000;

  nav {
    display: flex;

    a {
      position: relative;
      padding: 25px 19px;
      color: #ccc;
    }

    h1 {
      width: 177px;
      cursor: pointer;
    }

    .hot {
      position: absolute;
      top: 21px;
      left: 100px;
      width: 35px;
      height: 19px;
      background-position: -190px 0;
    }
  }

  .header-right {
    margin-left: 85px;

    span {
      width: 158px;
      background-color: #fff;
      border-radius: 32px;

      em {
        width: 30px;
        height: 32px;
        background-position: 0 -99px;
      }

      input {
        width: 121px;
        color: #9b9b9b;
        border: 0;
      }
    }

    a {
      width: 90px;
      height: 32px;
      margin-left: 12px;
      color: #ccc;
      text-align: center;
      line-height: 32px;
      border: 1px solid #4f4f4f;
      border-radius: 20px;

      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }

  button {
    margin-left: 20px;
    background: none;
    border: 0;
    color: #787878;

    &:hover {
      color: #ccc;
      text-decoration: underline;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom {
  width: 100%;
  height: 35px;
  background-color: #c20c0c;
  border-bottom: 1px solid #a40011;

  .bottom-nav {
    margin-left: 585px;
  }

  a {
    .flex();

    float: left;
    width: 84px;
    height: 34px;
    color: #fff;
  }
}

.second-content {
  width: 100%;
  height: 5px;
  background-color: #c20c0c;
}
// 轮播图

.carousel {
  width: 100%;
  height: 284px;
  background-image: url(../img/carousel_bg1.jpg);
  background-size: 6000px;
  background-position: center center;
}

.carousel-main {
  position: relative;
  width: 982px;
  height: 285px;
  margin: 0 auto;

  .slider {
    position: absolute;
    width: 730px;
    height: 284px;
    overflow: hidden;

    ul {
      // 需要添加定位，才能使用element.style.left
      position: absolute;
      top: 0;
      left: 0;
      width: 500%;
    }

    ul li {
      float: left;

      img {
        width: 730px;
        height: 284px;
      }
    }
  }

  .arrow .arr {
    position: absolute;
    width: 37px;
    height: 64px;
    top: 50%;
    margin-top: -31px;
    font-size: 35px;
    text-align: center;
    line-height: 64px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .arrow .arrow-left {
    left: -68px;
  }

  .arrow .arrow-right {
    right: -68px;
  }
  // 小圆圈
  .circle {
    position: absolute;
    bottom: 10px;
    left: 35%;

    li {
      float: left;
      width: 7px;
      height: 7px;
      margin: 0 10px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      cursor: pointer;
    }

    .current {
      background-color: #ba0c0c;
    }
  }
}

// 下载客户端
.upload {
  position: absolute;
  right: 0;
  width: 254px;
  height: 285px;
  background-color: azure;
}
// 首页内容
.main {
  width: 984px;
  height: 1323px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-bottom: 0;

  .main-left {
    width: 729px;
    height: 100%;
    padding: 20px 20px 3px;
    border-right: 1px solid #d3d3d3;

    .recommend {
      width: 100%;
      height: 35px;
      border-bottom: 2px solid #c10d0c;
      background-position: -225px -156px;

      a {
        color: #666;
      }

      .rec-nav a {
        height: 14px;
        padding: 0 10px;
        border-right: 1px solid #ccc;
      }

      .rec-a {
        padding: 0 10px 0 34px;
        font-size: 20px;
        color: #333;
      }

      .rec-a,
      .rec-nav .rec-span-a {
        border-right: 0;
      }

      .rec-more {
        float: right;
        width: 40px;
        height: 16px;
        margin: 9px 10px 0 0;
        background-position: 28px -236px;
      }
    }

    .record {
      width: 689px;
      height: 310px;
      margin-top: 20px;
      margin-bottom: 90px;
      border: 1px solid #000;
    }

    .new-record,
    .list {
      width: 689px;
      margin: 20px 0 37px;
      background-color: #f5f5f5;
      border: 1px solid #d3d3d3;
    }

    .new-record {
      height: 186px;
    }

    .list {
      height: 472px;
    }
  }
}
// 尾部
footer {
  justify-content: center;
  height: 173px;
  background-color: #f2f2f2;
  font-size: 12px;
  border-top: 1px solid #d3d3d3;

  .nav-first {
    padding-left: 0;
  }

  a {
    color: #999;
    padding: 0 10px;
    border-right: 1px solid #999;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 520px;
    height: 115px;
    color: #666;
  }

  img {
    width: 14px;
    height: 14px;
  }

  span {
    display: inline-block;
    width: 50px;
    height: 70px;
    // background: url(../img/footer.png) no-repeat;
    background-size: 110px 552px;
  }

  .footer-right {
    display: flex;
    justify-content: space-between;
    width: 420px;
    height: 70px;
    margin-left: 50px;

    a {
      display: block;
      width: 50px;
      height: 46px;
      background: url(../img/footer.png) no-repeat;
      background-size: 110px 552px;
      border: 0;
    }

    .footer-pic1 {
      background-position: -63px -456.5px;
    }

    .footer-pic2 {
      background-color: -63px -101px;
    }

    .footer-pic3 {
      background-position: 0 0;
    }

    .footer-pic4 {
      background-position: -60px -50px;
    }

    .footer-pic5 {
      background-position: 0 -101px;
    }

    em {
      display: block;
      width: 72px;
      height: 14px;
      margin-top: 5px;
      background: url(../img/foot_enter_tt.png) no-repeat;
      background-size: 180px 139px;
    }

    .footer-font1 {
      background-position: 0 -108px;
    }

    .footer-font2 {
      background-size: 180px 139px;
    }

    .footer-font3 {
      background-position: 0 0;
    }

    .footer-font4 {
      background-position: -1px -72px;
    }
  }
}
