h1,
.hot,
em,
.cor {
  background: url(../img/topbar.png) no-repeat;
}

.flex {
  display: flex;
  align-items: center;
}

.cor {
  // display: block;
  position: absolute;
  top: 63px;
  left: 45%;
  width: 12px;
  height: 7px;
  background-position: -226px 0;
}

.font-14 {
  font-size: 14px;
}

.current,
.nav-current {
  color: #fff;
  background: #000;
  z-index: 4;
}

.item {
  display: none;
}

.block {
  display: block;
}

.uer-login,
.user-login-btn,
.list span,
.rec-more,
.recommend,
.new-record .arrow-left,
.new-record .arrow-right {
  background: url(../img/index.png) no-repeat;
  background-position: 0 0;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.font-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
